.logo{
width: 300px;    
height: 200px;
}

body{
    background-color: black;
}

.cardmain{
margin-left: 500px;
margin-right: 300px;
display: flex;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

.card{
    box-shadow: 4px 4px 4px 06px   gray !important;
    
}

.btn{
    font-weight: bold;
}

.Service{
    text-shadow: red !important;
}

.navimage{
    width: 100px;
    height: 100px;
}

.navbar-nav{
    margin-right: 200px;
    margin-left: 200px !important;

}
.fa-envelope{
color: red;
}